*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1920px;
  max-height: 1080px;
  width: 70%;
  height: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pomodoro {
  max-width: 1920px;
  max-height: 1080px;
  width: 90%;
  height: 95%;

  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  background-color: #fff;
  border-radius: 15px;

  box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.692);
}

.main-title {
  width: 100%;
  height: 15%;

  font-size: 25px;
  text-align: center;
}

.timer {
  width: 100%;
  height: 15%;

  font-size: 3vw;
  text-align: center;
}

.buttons-field {
  width: 100%;
  height: 35%;

  display: flex;
  align-items: center;

  justify-content: space-evenly;

}

.buttons-field button {
  width: 20%;
  height: 23%;

  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.details {
  width: 100%;
  padding-left: 20px;
  font-size: 17px;
  line-height: 35px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.working {
  background: linear-gradient(360deg, rgba(130,35,45,1) 4%, rgba(187,38,51,1) 37%, rgba(255,67,80,1) 86%);
}

.resting {
  background: linear-gradient(360deg, rgba(0,59,88,1) 0%, rgba(0,133,152,1) 47%, rgba(0,176,177,1) 82%, rgba(0,212,170,1) 100%);
}

.working .buttons-field button {
  background: rgb(238, 25, 25);
  color: white;

  transition: 0.2s all ease-in;
}

.working .buttons-field button:hover {
  box-shadow: 1px 1px 20px rgba(255, 0, 0, 0.479);
  transform: scale(1.05);
}

.resting .buttons-field button {
  background-color: rgb(96, 224, 175);
  color: rgb(109, 160, 156);

  transition: all 0.2s ease-in;
}

.resting .buttons-field button:hover {
  box-shadow: 1px 1px 20px rgba(0, 255, 149, 0.479);
  transform: scale(1.05);
}

@media screen and (max-width: 1920px) {
  .main-title{
    font-size: 45px;
  }
  .timer {
    font-size: 4vw;
  }
  .buttons-field button {
    width: 25%;
    height: 30%;
    font-size: 25px;
  }
  .details {
    height: 20%;
    font-size: 30px;
    line-height: 50px;
  }
}

@media screen and (max-width: 1600px) {
  .main-title{
    font-size: 34px;
  }
  .timer {
    font-size: 3.5vw;
  }
  .buttons-field button {
    width: 27%;
    height: 32%;
    font-size: 18px;

  }
  .details {
    height: 20%;
    font-size: 25px;
  }
}

@media screen and (max-width: 1366px) {
  .main-title{
    font-size: 27px;
  }
  .timer {
    font-size: 3vw;
  }
  .buttons-field button {
    width: 27%;
    height: 30%;
    font-size: 16px;
  }
  .details {
    height: 20%;
    font-size: 18px;
  }
}

@media screen and (max-width: 1280px) {
  .main-title{
    font-size: 35px;
  }
  .timer {
    font-size: 4vw;
  }
  .details {
    height: 20%;
    font-size: 25px;
    line-height: 40px;
  }
}

@media screen and (max-width: 1024px) {
  .main-title{
    font-size: 27px;
  }
  .timer {
    font-size: 4vw;
  }
  .details {
    height: 20%;
    font-size: 18px;
    line-height: 27px;
  }
}

@media screen and (max-width: 960px) {
  .main-title{
    font-size: 23px;
  }
  .timer {
    font-size: 3vw;
  }
  .buttons-field {
    height: 30%;
  }
  .buttons-field button {
    width: 30%;
    height: 37%;
    font-size: 15px;
  }
  .details {
    height: 25%;
    font-size: 18px;
    line-height: 25px;
  }
}

@media screen and (max-width: 640px) {
  .main-title{
    font-size: 25px;
  }
  .timer {
    font-size: 5vw;
  }
  .buttons-field {
    height: 30%;
  }
  .buttons-field button {
    width: 27%;
    height: 30%;
    font-size: 12px;
  }
  .details {
    padding-left: 5.2px;
    height: 25%;
    font-size: 13px;
    line-height: 25px;
  }
}

@media screen and (max-width: 414px) {
  .container {
    width: 90%;
    height: 60%;
  }
  .main-title{
    font-size: 23px;
  }
  .timer {
    font-size: 10vw;
  }
  .buttons-field {
    height: 30%;
  }
  .buttons-field button {
    width: 30%;
    height: 30%;
    font-size: 16px;
  }
  .details {
    height: 25%;
    font-size: 18px;
    line-height: 25px;
  }
}